<%- include('../partials/header') %>

<div class="tab">
  <button                   class="tablinks" onclick="openPage(event, 'Login')" id="defaultOpen">Login</button>
  <button class="blueTab"   class="tablinks" onclick="openPage(event, 'AB')">  A,B   </button>
  <button class="pinkTab"   class="tablinks" onclick="openPage(event, 'CD')">  C,D   </button>
  <button class="yellowTab" class="tablinks" onclick="openPage(event, 'EF')">  E,F   </button>
  <button class="redTab"    class="tablinks" onclick="openPage(event, 'GH')">  G,H   </button>
  <button class="purpleTab" class="tablinks" onclick="openPage(event, 'IJ')">  I,J   </button>
  <button class="greenTab"  class="tablinks" onclick="openPage(event, 'KL')">  K,L   </button>
  <button class="blueTab"   class="tablinks" onclick="openPage(event, 'MN')">  M,N   </button>
  <button class="pinkTab"   class="tablinks" onclick="openPage(event, 'OP')">  O,P   </button>
  <button class="yellowTab" class="tablinks" onclick="openPage(event, 'QRS')"> Q,R,S </button>
  <button class="redTab"    class="tablinks" onclick="openPage(event, 'TU')">  T,U   </button>  
  <button class="purpleTab" class="tablinks" onclick="openPage(event, 'VW')">  V,W   </button>
  <button class="greenTab"  class="tablinks" onclick="openPage(event, 'XYZ')"> X,Y,Z </button>
</div>

<div id="Login" class="tabcontent">
  <% if (!user) { %>
    <%- include('../partials/login') %>
  <% } else { %>
    <h2> <%= title %> </h2>
    <p></p>
  <% } %>
</div>
  
<div id="AB" class="tabcontent">
  <% if (!user) { %>
    <%- include('../partials/login') %>
  <% } else { %>
    <h2> <%= title %> </h2>
    <p></p>
  <% } %>
</div>

<div id="CD" class="tabcontent">
  <% if (!user) { %>
    <%- include('../partials/login') %>
  <% } else { %>
    <h2> <%= title %> </h2>
    <p></p>
  <% } %>
</div>

<div id="EF" class="tabcontent">
  <% if (!user) { %>
    <%- include('../partials/login') %>
  <% } else { %>
    <h2> <%= title %> </h2>
    <p></p>
  <% } %>
</div>
  
<div id="GH" class="tabcontent">
  <% if (!user) { %>
    <%- include('../partials/login') %>
  <% } else { %>
    <h2> <%= title %> </h2>
    <p></p>
  <% } %>
  </div>
  
<div id="IJ" class="tabcontent">
  <% if (!user) { %>
    <%- include('../partials/login') %>
  <% } else { %>
    <h2> <%= title %> </h2>
    <p></p>
  <% } %>
  </div>

<div id="KL" class="tabcontent">
  <% if (!user) { %>
    <%- include('../partials/login') %>
  <% } else { %>
    <h2> <%= title %> </h2>
    <p></p>
  <% } %>
</div>
  
<div id="MN" class="tabcontent">
  <% if (!user) { %>
    <%- include('../partials/login') %>
  <% } else { %>
    <h2> <%= title %> </h2>
    <p></p>
  <% } %>
</div>

<div id="OP" class="tabcontent">
  <% if (!user) { %>
    <%- include('../partials/login') %>
  <% } else { %>
    <h2> <%= title %> </h2>
    <p></p>
  <% } %>
</div>

<div id="QRS" class="tabcontent">
  <% if (!user) { %>
    <%- include('../partials/login') %>
  <% } else { %>
    <h2> <%= title %> </h2>
    <p></p>
  <% } %>
</div>

<div id="TU" class="tabcontent">
  <% if (!user) { %>
    <%- include('../partials/login') %>
  <% } else { %>
    <h2> <%= title %> </h2>
    <p></p>
  <% } %>
</div>

<div id="VW" class="tabcontent">
  <% if (!user) { %>
    <%- include('../partials/login') %>
  <% } else { %>
    <h2> <%= title %> </h2>
    <p></p>
  <% } %>
</div>

<div id="XYZ" class="tabcontent">
  <% if (!user) { %>
    <%- include('../partials/login') %>
  <% } else { %>
    <h2> <%= title %> </h2>
    <p></p>
  <% } %>
</div>
<%- include('../partials/footer') %>
