<%- include('../partials/header') %>

<%- include('../partials/main') %>

<div class="tabcontent">
  <!-- <% if (!user) { %>
    <%- include('../partials/login') %>
  <% } else { %>
    <h2> <%= title %> </h2>
    <p></p>
  <% } %> -->
</div>

<%- include('../partials/footer') %>