<%- include('../partials/header') %>

<%- include('../partials/main') %>

<div class="tabcontent">
  <div id="new-form">
  <label class="prompt-label"> First Name: <%= contact.firstName %>  </label><br>
  <label class="prompt-label"> Last Name:  <%= contact.lastName  %>  </label><br>
  <label class="prompt-label"> Address1:   <%= contact.address1  %>  </label><br>
  <label class="prompt-label"> Address2:   <%= contact.address2  %>  </label><br>
  <label class="prompt-label"> City:       <%= contact.city      %>  </label><br>
  <label class="prompt-label"> State:      <%= contact.state     %>  </label><br>
  <label class="prompt-label"> Zip Code:   <%= contact.zipCode   %>  </label><br>
  <label class="prompt-label"> Email:      <%= contact.email     %>  </label><br>
  <label class="prompt-label"> Phone:      <%= contact.phone     %>  </label><br>
  </div>
</div 


<%- include('../partials/footer') %>
